<!-- Start footer -->
<footer class="custom-footer bg-dark py-4 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mt-4">
        <div>
          <div>
            <img
              src="assets/images/logo-light.png"
              alt="logo light"
              height="100"
            />
            <h5 class="text-opacity-75 text-primary">Kripton Consulting SAS</h5>
          </div>
        </div>
      </div>

      <div class="col-lg-7 ms-lg-auto mt-4">
        <div class="mt-4 fs-13">
          <h5 class="text-opacity-75 text-primary">About Us</h5>

          <p>
            Our vision is to be a leading player in the EMEA region in the field
            of information technology and digital transformation. We want to
            listen to our customers and offer them a high value-added service,
            while at the same time being a driving force behind innovative ideas
            with great potential for our customers and partners.
          </p>
          <ul class="list-inline mb-0 footer-social-link">
            <li class="list-inline-item">
              <a href="javascript: void(0);" class="avatar-xs d-block">
                <div class="avatar-title rounded-circle">
                  <i class="ri-facebook-fill"></i>
                </div>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="javascript: void(0);" class="avatar-xs d-block">
                <div class="avatar-title rounded-circle">
                  <i class="ri-github-fill"></i>
                </div>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="javascript: void(0);" class="avatar-xs d-block">
                <div class="avatar-title rounded-circle">
                  <i class="ri-linkedin-fill"></i>
                </div>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="javascript: void(0);" class="avatar-xs d-block">
                <div class="avatar-title rounded-circle">
                  <i class="ri-google-fill"></i>
                </div>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="javascript: void(0);" class="avatar-xs d-block">
                <div class="avatar-title rounded-circle">
                  <i class="ri-dribbble-line"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row text-center text-sm-start align-items-center mt-2">
      <div class="col-sm-6">
        <div>
          <p class="copy-rights mb-0">
            <script>
              document.write(new Date().getFullYear());
            </script>
            © Kripton - Technologies
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
