<div class="row">
  <div class="col-lg-12">
    <div class="d-flex align-items-center mb-4">
      <div class="flex-grow-1">
        <p class="text-muted fs-14 mb-0">
          Total: <span id="total-result">{{ listOfJobs?.length }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- end row -->
<div class="row" id="job-list">
  <div
    *ngFor="
      let job of listOfJobs | slice : (page - 1) * pageSize : page * pageSize;
      let i = index
    "
    class="col-lg-3 col-md-6"
  >
    <app-job-card-grid
      [job]="job"
      (jobDeletedEvent)="updateListJobs($event)"
      (jobEditedEvent)="updateListJobs($event)"
      (selectJobEvent)="selectJob($event)"
    ></app-job-card-grid>
  </div>
  <!-- pagination -->
  <ngb-pagination
    *ngIf="listOfJobs"
    class="d-flex justify-content-end pt-2"
    [collectionSize]="listOfJobs.length"
    [(page)]="page"
    [pageSize]="pageSize"
    aria-label="Custom pagination"
  >
    <ng-template ngbPaginationPrevious let-page let-pages="pages">
      <i class="ci-arrow-left me-2"></i>
      Prev
    </ng-template>
    <ng-template ngbPaginationNext>
      Next
      <i class="ci-arrow-right ms-2"></i>
    </ng-template>
  </ngb-pagination>

  <div id="elmLoader" *ngIf="!listOfJobs">
    <div class="spinner-border text-primary avatar-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
